@font-face {
  font-family: Mali;
  src: url("../fonts/Mali/Mali-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Calligraffitti;
  src: url("../fonts/Calligraffitti/Calligraffitti-Regular.ttf");
  font-display: swap;
}

