// $color-primary: rgb(253, 190, 2);
// $color-secondary: rgba(0,0,0,.5);
// $color-dark: rgb(7,16,19);
$mainYellow: #fdbe02;
$mainWhite: #fff;
$mainBlack: #071013;
$mainGrey: #9b9999;
$TransGrey: rgba(0, 0, 0, 0.1);


